In [2]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1   -0.310309
   2   -0.389346
   3   -0.121993
b  1   -0.218491
   2    0.340263
c  3    0.817556
   1   -1.506511
d  2    0.144854
   3    1.175011
dtype: float64

In [3]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [4]:
data['a']

1   -0.310309
2   -0.389346
3   -0.121993
dtype: float64

In [5]:
#2維堆疊資料
data

a  1   -0.310309
   2   -0.389346
   3   -0.121993
b  1   -0.218491
   2    0.340263
c  3    0.817556
   1   -1.506511
d  2    0.144854
   3    1.175011
dtype: float64

In [6]:
#2維,表格資料
data.unstack()

          1         2         3
a -0.310309 -0.389346 -0.121993
b -0.218491  0.340263       NaN
c -1.506511       NaN  0.817556
d       NaN  0.144854  1.175011

In [7]:
data.index.names = ['分類','數值']
data

分類  數值
a   1    -0.310309
    2    -0.389346
    3    -0.121993
b   1    -0.218491
    2     0.340263
c   3     0.817556
    1    -1.506511
d   2     0.144854
    3     1.175011
dtype: float64

In [8]:
data.unstack(level='數值')

數值         1         2         3
分類
a  -0.310309 -0.389346 -0.121993
b  -0.218491  0.340263       NaN
c  -1.506511       NaN  0.817556
d        NaN  0.144854  1.175011